@font-face {
  font-family: 'MNB';
  font-style: normal;
  src: url('../../public/font/MapleMono-Bold.ttf');
}
@font-face {
  font-family: 'MNBI';
  font-style: italic;
  src: url('../../public/font/MapleMono-BoldItalic.ttf');
}
.font-mnb {
  font-family: MNB;
}
.font-mnbi {
  font-family: MNBI;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
